.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userAnswer {
  font-weight: bold;
  color: blue;
  margin-bottom: 0px;
}

.avatar {
  height: 30px;
  margin: 10px;
}

.table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}

.table > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
}